# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Currency.Board.Refresh.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\NetCore\Currency.Board.Refresh\.idea\.idea.Currency.Board.Refresh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
